#editor {
    position: relative;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cursor {
        position: absolute;
        top: 50%;
        height: 100%; 
        transform: translateY(-50%);
        display: none;

        &.initial {
            left: 5px !important;
        }

        &.line {
            width: 1px !important;
            background-color: black;
        }

        &.block {
            width: 10px;
            background-color: grey;
        }
    }

    .Selection {
        background-color: blue;
    }

    .Number {
        color: blue;
    }

    .Variable {
        color: blue;
    }

    .Operator {
        color: green;
    }

    .Function {
        color: green;
    }

    .Paren {
        color: black;
    }

    .Error {
        background-color: red;
    }
}
